<% content_for :content do %>
  <h1><%= @property.name %></h1>
  City: <%= @property.city %><br />
  Zipcode: <%= @property.zipcode %><br />
  Address: <%= @property.address %><br />
  Neighborhood: <%= @property.neighborhood %><br />
  Total units: <%= @property.total_units %><br />
  Total bmr: <%= @property.total_bmr %><br />
<% end %>
