<!DOCTYPE html>
<html>
<head>
  <title>Bmrtracker</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= stylesheet_link_tag "docs" %>
  <%= stylesheet_link_tag "base" %>

  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstrap" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <%- [['Learn More',  "/more"], ['Blog', "http://www.example.com"] ].each do |t| -%>
            <%= (request.path == t[1]) ? '<li class = "active">'.html_safe : '<li>'.html_safe %>
              <%= link_to t[0], t[1] %>
            </li>
          <%- end -%>
        </ul>

        <a class = "brand" href = "/">
          <%= image_tag 'logo.png', :alt => "BMR Tracker" %>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <% if content_for?(:content) %>
        <%= yield :content %>
      <% end %>
    </div>
    

  <footer class="footer">
    <div class="container">
      <p>Designed and built at <a href = "http://codeforamerica.org/">Code for America</a> Hackathon.
    </div>
  </footer>


  </div>
</body>
</html>
